/* Common styles for all screen sizes */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /*max-width: 400px; */
    margin:0 !important;
    
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* Add space between top and bottom sections */

}

img.avatar{
       z-index: 1000;
    position: static;
    max-width: 160px;
    margin: 22px 41px;
    backdrop-filter: blur(5px);
}
img.progress {
    z-index: 1000;
    position: static;
    max-width: 101px;
    margin: 22px 57px;
    backdrop-filter: blur(5px);
}

.bottom-section {
    width: 100%;
}

/* Map styles */
#map {
    height: 100vh;
    width: 100%;
   
    border-radius: 5px;
}

body{
    background-color: #cdc1b0;
}


 